html, body{
    height: 100%;
    background: slategray !important;
}
#map {
    height: 100%;
}
#map>div {
    background: #0b0b0c !important;
}
.map-container {
    height: calc(100% - 44px);
    padding: 0;
}
.header {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: relative;
    display: block;
}
.header a:nth-of-type(2){
    border-left: 1px solid slategray;
    border-right: 1px solid slategray;
}
.header * {
    border-radius: 0px !important;
}

.dark, .dark * {
    background: #0b0b0c !important;
    color: LIGHTSLATEGREY !important;
}